#container {
    display: flex;
    width: 400px;
    height: 400px;
    flex-wrap: wrap;
    align-content: stretch;
    margin: auto;
    border: 2px solid blue;
}

.divs {
    flex: 1 1 auto;
    border: 2px solid black;
    box-sizing: border-box;
}